.contacts-main {
  margin-top: 52px;
  height: auto;
}
.contacts-main .contacts-search {
  padding: 0 0 0 208px;
  height: 43px;
  line-height: 43px;
}
.contacts-main .contacts-search .contacts-depart {
  position: relative;
  float: left;
  width: 306px;
  height: 41px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  background: #fff;
  overflow: hidden;
}
.contacts-main .contacts-search .contacts-depart .contacts-style {
  position: relative;
  padding-left: 27px;
  height: 100%;
}
.contacts-main .contacts-search .contacts-depart .contacts-arrow {
  position: absolute;
  top: 0;
  right: 6px;
  background: url(../images/contact-icon.png) no-repeat;
  width: 41px;
  height: 41px;
}
.contacts-main .contacts-search .contacts-depart .contacts-style-list {
  position: absolute;
  left: 0px;
  top: 43px;
  width: 304px;
  border: 1px solid #bfbfbf;
  overflow: hidden;
}
.contacts-main .contacts-search .contacts-depart .contacts-style-list li {
  height: 40px;
  line-height: 40px;
  padding-left: 27px;
  background: #fff;
  cursor: pointer;
}
.contacts-main .contacts-search .contacts-depart .contacts-style-list li:hover {
  color: #fff;
  background: #46a7f1;
}
.contacts-main .contacts-search .contacts-s-text {
  position: relative;
  float: left;
  width: 364px;
  height: 41px;
  line-height: 41px;
  margin: 0 24px 0 28px;
  padding-left: 42px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  background: url(../images/contact-icon.png) no-repeat 0 -41px #ffffff;
}
.contacts-main .contacts-search .contacts-s-text input {
  display: block;
  width: 360px;
  height: 41px;
  line-height: 41px;
  font-size: 14px;
  color: #969696;
  border: 0 none;
  outline: none;
}
.contacts-main .contacts-search .contacts-s-text .contacts-x {
  position: absolute;
  top: 0;
  right: 3px;
  display: block;
  width: 41px;
  height: 41px;
  background: url(../images/contact-icon.png) no-repeat 0 -82px;
}
.contacts-main .contacts-search .contacts-s-sub {
  display: block;
  width: 98px;
  height: 43px;
  color: #fff;
  font-size: 16px;
  line-height: 43px;
  text-align: center;
  background: #46a7f1;
  border: 0 none;
  border-radius: 5px;
}
.contacts-table {
  width: 100%;
  height: auto;
  margin-top: 45px;
  text-align: center;
  background: #ffffff;
  table-layout: fixed;
  font-size: 12px;
  color: #484848;
}
.contacts-table tr {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #eeeff0;
}
.contacts-table tr th {
  font-size: 16px;
  color: #292929;
}
.contacts-table .contacts-th {
  font-weight: 500;
  background: #f6f6f6;
  border-bottom: 1px solid #dcdcdc;
}
.contacts-table .tr-color {
  background: #f7f8f9;
}
.page {
  margin-top: 22px;
  padding-bottom: 21px;
  border-bottom: 1px solid #e2e2e2;
  text-align: center;
}
.page a {
  background: #fff;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  border: 1px solid #e2e2e2;
  display: inline-block;
  margin-left: 0px;
}
.page span {
  margin: 0 8px 0 8px;
}
.page a:hover,
.page .page-cur {
  color: #fff;
  background: #00a7ea;
  border: 1px solid #00a7ea;
}
.headerBottom {
  width: 100%;
  height: 1px;
  background: #dfdfdf;
}
